######### work_dir ##########
WORK_DIR=./www

######### nginx #############
NGINX_VERSION=1.16.0-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443

######### mysql #############
MYSQL_VERSION=5.6.45
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./mysql/data
MYSQL_CONF_FILE=./mysql/conf/mysql.cnf

######### timezone ##########
TIMEZONE=Asia/Shanghai